<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>Atlassian Connect: an interactive guide</title>

    <link rel="stylesheet" href="css/aui-all.css" media="all">
    <!--[if lt IE 9]><link rel="stylesheet" href="css/aui-ie.css" media="all"><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="css/aui-ie9.css" media="all"><![endif]-->
    <link rel="stylesheet" href="css/styles.css" media="all">
    <link rel="stylesheet" href="css/highlightjs/tomorrow.css" media="all">
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <script src="js/aui-all.js"></script>
    <script src="js/highlight.pack.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/handlebars.js"></script>
    <script src="js/XML.ObjTree-0.24/lib/ObjTree.js"></script>
    <script src="js/app.js"></script>
    <!-- <script src="node_modules/pagedown/Markdown.Converter.js"></script> -->
    <!--[if lt IE 9]><script src="js/aui-ie.js"></script><![endif]-->
    <script type="text/x-handlebars-template" id="p3-enum-partial">
      {{#enumsWithDoc this.restriction.enumeration}}
        <br/>
        <h4>Valid values:</h4>
        <table class="aui p3-no-borders">
          <tbody>
            {{#each this.restriction.enumeration}}
            <tr>
              <td class="p3-td-name-small">
                {{# if this.resources}}
                  <span class="aui-lozenge p3-lowercase">
                    <a class="enum-w-resource" href="#">{{value}}</a>
                    <ul class="hidden resources">
                      {{#each this.resources.resource}}
                        <li>
                          <b>{{this.httpMethod}}</b>
                          <span>{{this.path}}</span>{{#if this.rpcMethod}}<span>/{{this.rpcMethod}}</span>{{/if}}
                        </li>
                      {{/each}}
                    </ul>
                  </span>
                {{else}}
                  <span class="aui-lozenge p3-lowercase">{{value}}</span>
                {{/if}}
              </td>
              <td>
                {{doc}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <strong>Valid values:</strong>
        {{#each this.restriction.enumeration}}
          <span class="aui-lozenge p3-lowercase">{{value}}</span>
        {{/each}}
      {{/enumsWithDoc}}
    </script>
    <script type="text/x-handlebars-template" id="p3-doc-template">
      <h1>&lt;{{slug}}&gt;</h1>

      <p>{{doc}}</p>

      {{#if attribute}}
      <h3>Attributes</h3>

      <table class="aui">
        <tbody>
          {{#each attribute}}
          <tr>
            <td class="p3-td-name">
              <strong>{{this.name}}{{#if this.required}}<span class="aui-icon aui-icon-required">required</span>{{/if}}</strong>
            </td>
            <td>
              {{this.doc}} {{>enums}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}

      {{#if element}}
      <h3>Elements</h3>

      <table class="aui">
        <tbody>
          {{#each element}}
          <tr>
            <td class="p3-td-name">
              <strong><a class="p3-el" data-el="{{this.name}}" href="#">{{this.name}}</a>{{#if this.required}}<span class="aui-icon aui-icon-required">required</span>{{/if}}</strong>
            </td>
            <td>
              {{this.doc}} {{>enums}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}

    </script>
</head>
<body class="aui-layout aui-theme-default">
    <div id="page">
        <header id="header" role="banner">
            <nav class="aui-header" role="navigation">
                <div class="aui-header-primary">
                    <h1 id="logo" class="aui-header-logo aui-header-logo-ap3">
                        <a href="/display/AC">
                            <span class="aui-header-logo-device">Atlassian Connect</span>
                        </a>
                    </h1>
                    <ul class="aui-nav p3-app">
                        <li><a class="p3-selected" href="/display/AC/Introduction+to+Atlassian+Connect">Introduction</a></li>
                        <li><a href="/display/AC/Getting+Started">Getting Started</a></li>
                        <li><a href="/display/AC/Reference+Resources">Reference</a></li>
                    </ul>
                    <!-- <ul class="aui-nav">
                        <li><a href="" aria-owns="dd-help" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header7">Plugin Descriptor Guides<span class="aui-icon-dropdown"></span></a>
                          <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dd-help" aria-hidden="true">
                              <div class="aui-dropdown2-section">
                                  <ul>
                                    <li><a href="#/jira">JIRA</a></li>
                                    <li><a href="#/confluence">Confluence</a></li>
                                  </ul>
                              </div>
                          </div>
                        </li>
                    </ul> -->
                </div>
            </nav>
        </header>
        <section id="content" role="main">

            <header class="aui-page-header">
                <h1>Add-on Descriptor</h1>
                <p>An interactive guide to <b>atlassian-plugin.xml</b></p>
            </header>

            <nav class="aui-navgroup aui-navgroup-horizontal">
                <div class="aui-navgroup-inner">
                    <div class="aui-navgroup-primary">
                        <ul class="aui-nav">
                            <li class="aui-nav-selected"><a href="#/jira">JIRA</a></li>
                            <li><a href="#/confluence">Confluence</a></li>
                        </ul>
                    </div><!-- .aui-navgroup-primary -->
                </div><!-- .aui-navgroup-inner -->
            </nav>


            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">
                        <div class="aui-group">
                            <div id="p3-codepane" class="aui-item p3-highlight">
                                <pre><code>
<span data-el="atlassian-plugin">&lt;atlassian-plugin key="hello-world-plugin" name="Hello World Plugin" plugins-version="2"&gt;
    <span data-el="plugin-info">&lt;plugin-info&gt;
    <span data-el="description">&lt;description&gt;
    Hello World Plugin
&lt;/description&gt;</span>
    <span data-el="version">&lt;version&gt;1.0&lt;/version&gt;</span>
    <span data-el="vendor">&lt;vendor name="My Company" url="http://example.com" /&gt;</span>
    <span data-el="permissions">&lt;permissions&gt;
    <span data-el="permission">&lt;permission&gt;create_oauth_link&lt;/permission&gt;</span>
    <span data-el="permission">&lt;permission&gt;send_email&lt;/permission&gt;</span>
&lt;/permissions&gt;</span>
&lt;/plugin-info&gt;</span>
    <span data-el="remote-plugin-container">&lt;remote-plugin-container key="container" display-url="http://example.com"&gt;
    <span data-el="oauth">&lt;oauth&gt;
    &lt;public-key&gt;
    -----BEGIN PUBLIC KEY-----
    MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCuNwJVGkY9XWtuNe7p8PMOEr8O
    WetSAqMxWldFfmNYTbRsI/8ZX/S/5gm4UKZyFUDOICtVddYv1tWW/P31OA5khyQT
    XLp8sYpyNDBuwg00kfmBGleBgcKvePxMAr2y4La1OBz4aE+xK1HJojl2ToAubVY+
    qikVwxXolycVkz8AzQIDAQAB
    -----END PUBLIC KEY-----
    &lt;/public-key&gt;
&lt;/oauth&gt;</span>
&lt;/remote-plugin-container&gt;</span>

    <span data-el="atlassian-plugin">&lt;!-- plugin modules --&gt;</span>

    <span data-el="general-page">&lt;general-page key="hello-world" name="Hello World!" url="/hello" /&gt;</span>
    <span data-el="webhook">&lt;webhook key="installed" event="remote_plugin_installed" url="/" /&gt;</span>
 &lt;/atlassian-plugin&gt;</span>
                                </code></pre>
                            </div>
                            <div id="p3-annotations" class="aui-item">
                              <div id="p3-doc-container">
                                Loading plugin descriptor...
                              </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- .aui-page-panel -->

        </section><!-- #content -->

        <footer id="footer" role="contentinfo">
            <section class="footer-body">
                <ul>
                    <li><a href="mailto:developer-relations@atlassian.com">Atlassian Developer Relations</a></li>
                    <li>AUI Version 5.0-m24</li>
                </ul>
            </section>
        </footer>
    </div><!-- #page -->
    <div id="resource-dialog"></div>
    <script>
        var _gaq=[['_setAccount','UA-6032469-43'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>